.main_background {
    background-image: url("background.jpg");
    height: 700px;
    width: 100%;
}

.green_box {
    width: 30%;
    height: 600px;
    background-color: rgb(19, 204, 90);
    padding-top: 100px;
}

h1, h2, h3 {    
    text-align: center;
}

.header_block {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 33%;
}

.mybutton {
    width: 200px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    color: white;
    background-color: darkgreen;
    margin-bottom: 30px;
    border-radius: 10px;
    padding-top: 30px;
}

.main_block {
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    width: 30%;
    border-spacing: 30px;
}

td {
    border: 2px solid;
    border-color: darkgreen;
    border-radius: 10px;
    height: 200px;
    text-align: center;
    width: 33%;
}


.main_footer {
    width: 100%;
    height: 90px;
    background-color: darkgreen;
    color: white;
    text-align: center;
    padding-top: 5px;
}
